/* Position de la drop-zone */
.load-container {
    display: flex;           /* active le flexbox */
    align-items: center;     /* centre verticalement le contenu */
    gap: 10px;               /* espace entre le bouton et la drop-zone */
}

/* Styles for the initial filter radio group in step1 */
.initial-filter {
  margin-top: 16px;
}

.initial-filter .filter-option > label,
.initial-filter .params > label {
    margin-bottom: 0;
}

/* Layout for filter controls: radios + parameters inline */
.filter-controls {
  flex-wrap: wrap;
  margin-top: 6px;
}

.params {
  display: flex;
  margin-left: 30px;
  align-items: center;
  gap: 8px;
  visibility: hidden;
  /* height: 0; */
  overflow: hidden;
}

/* Si "Moyenne glissante" est sélectionné → afficher paramsMA */
#filterMA:checked ~ #paramsMA {
  visibility: visible;
}

/* Si "Savitzky–Golay" est sélectionné → afficher paramsSG */
#filterSG:checked ~ #paramsSG {
  visibility: visible;
}

.filter-option {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap; /* permet le retour à la ligne propre */
    margin-bottom: 6px;
}

.params input[type="number"] {
    height: 24px;
    padding: 2px 4px;
    font-size: 14px;
    box-sizing: border-box;
}
.filter-option input[type="radio"] {
    margin-top: 0;
}

/* Colonnes paramètres FRM pour ajout schéma à droite */
.step2-columns {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}
.step2-column-left {
  max-width: 650px; 
  /* flex: 1; */
}
.step2-column-left label:not(#FRMRayonRoueDiff):not(#FRMCamber) {
  margin-top: 35px;
}
.step2-column-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.step2-column-right img {
  width: 220px;
  height: auto;
}

/* Boutons bas de page */
.buttons-row-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3px;
  width: 100%;
  text-align: center;
}

.buttons-row-container button {
    width: 100%;
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px 16px;
    font-size: 16px;
} 


/* Bouton de gauche : alignement à gauche */
.buttons-row-container button:nth-child(1) {
    justify-self: start;
    font-size: 1.05em;
}
.buttons-row-container .btn-arrow {
    font-size: 28px;
    line-height: 1;
}
.buttons-row-container .btn-text {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

/* Bouton du centre : alignement centré */
.buttons-row-container button:nth-child(2) {
    justify-self: center;
    font-size: 1.05em;
}

/* Bouton de droite : alignement à droite */
.buttons-row-container button:nth-child(3) {
    justify-self: end;
    font-size: 1.05em;
}