/* Chronogramme */
#chronogramme {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  background: #fff;
}
#chronogramme:empty {
  display: none;
}

.color-box {
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
  border-radius: 4px;
  display: inline-flex;
  width: 45px;
  height: 30px;
  margin-right: 8px;
  border: 1px solid #aaa;
}

/* Checkboxes custom */
.options-container .options-vertical {
  display: flex;
  flex-direction: column;   
}

.checkbox-container {
  position: relative;
  padding: 10px 6px 10px 40px;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  background: #fafafa;
  border-radius: 6px;
  border: 1px solid #eee;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkbox-container .checkmark {
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: all 0.2s;
}

.checkbox-container:hover .checkmark {
  background-color: #ddd;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: var(--primary-color);
  border-color: var(--primary-hover);
}

.checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
  left: 5px;
  bottom: 4px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}